@import './utils/variables';
@import './utils/mixins';
@import './utils/hidden';

@import './components/header';
@import './components/container';
@import './components/section';
@import './components/hero';
@import './components/advantage';
@import './components/btn';
@import './components/clients';
@import './components/examples';
@import './components/filter';
@import './components/footer';

@import './components/modal';
@import './components/opportunity';
@import './components/team';
