.advantage-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    // margin-left: -30px;
  }
}

.advantage-item {
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    margin-left: 15px;
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantage-title {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.advantage-text {
  @include font(null, 14px, 1.71, 0.03em);
}

.advantage-container {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  background-color: var(--filter-color);
  justify-content: center;
  align-items: center;
}

.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--filter-color);
  border-radius: 4px;
}
