.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden & {
    transform: scale(0.2) rotate(-145deg);
  }
}

.modal-close-btn {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    fill: #2196f3;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #000000;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--web-color);
  }
  &:placeholder-shown {
    border: 1px solid #2196f3;
  }
}

.modal-field {
  margin-bottom: 10px;
}

.modal-comment {
  margin-bottom: 20px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input-wrap {
  position: relative;
  margin-top: 4px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  .modal-input:focus + & {
    fill: var(--web-color);
  }
}
.modal-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: block;
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-agree {
  width: 16px;
  height: 15px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  .input-check:checked + .check-text & {
    background-color: var(--web-color);
    border: none;
  }
}

.check-icon {
  fill: transparent;
  .input-check:checked + .check-text & {
    fill: white;
  }
}

.check-agree {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send {
  color: var(--secondary-color);
  background-color: var(--web-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;

  letter-spacing: 0.06em;
  padding: 10px 55px;
  min-width: 200px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
