.opportunity {
  padding-top: 0;
}

.opportunity-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
  text-align: center;
}

.opportunity-list {
  display: flex;
}

.about-item {
  position: relative;
  & + & {
    margin-left: 30px;
  }
}

.about-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
