.team {
  background-color: var(--filter-color);
  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
    text-align: center;
  }
  &__list {
    display: flex;
    text-align: center;
    margin-left: -30px;
  }
  &__item {
    background-color: var(--secondary-color);
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
  &__text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-top: 10px;
  }
  &__list {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  &__link {
    background-color: transparent;
    fill: #afb1b8;
    &:hover,
    &:focus {
      background-color: var(--web-color);
      fill: white;
    }
  }
}

.team-box__item + .team-box__item {
  margin-left: 10px;
}

.ref {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
