.team {
  background-color: var(--filter-color);
  // margin-bottom: -30px;
  &__title {
    font-family: 'Roboto';
    @include font(700, 28px, 1.18, 0.03em);
    @media screen and (min-width: 1200px) {
      @include font(700, 36px, 1.17, 0.03em);
      margin-bottom: 50px;
    }
    color: var(--main-color);
    margin-bottom: 30px;
    text-align: center;
  }
  &__list {
    margin-bottom: -30px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-right: -30px;
      margin-bottom: -30px;
    }
    // @media screen and (min-width: 1200px) {
    //   display: flex;
    //   text-align: center;
    //   margin-left: -30px;
    // }
  }
  &__item {
    margin-bottom: 30px;
    background-color: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 2);
      margin-right: 30px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 120px) / 4);
    }
  }
}

.team-box {
  padding-top: 30px;
  padding-bottom: 24px;
  // display: block;
  text-align: center;
  &__title {
    margin-bottom: 10px;
    @include font(500, 16px, 1.19, 0.03em);
    color: var(--main-color);
  }
  &__text {
    @include font(null, 16px, 1.19, 0.03em);
    color: var(--text-color);
    margin-bottom: 16px;
  }
  &__list {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  &__link {
    background-color: transparent;
    fill: #afb1b8;
    &:hover,
    &:focus {
      background-color: var(--web-color);
      fill: white;
    }
  }
}

.team-box__item + .team-box__item {
  margin-left: 10px;
}

.ref {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
